* {
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
}

input:invalid { box-shadow: 0 0 1px 1px red; }
input:focus:invalid { box-shadow: none; }

label.error {
    color: crimson;
}

a.remove {
    color: crimson;
    text-decoration: none;
}
input.mytest {
/* padding-left: 5em; */
margin-left: 2em;
/* margin-right: 1em; */
}

input {
    margin-left: 0em;
  }