{% extends "template.html" %}
{% load static %}

{% block title %} Swiss System {% endblock %}
{% block scripts %}
<script src={% static 'players.js' %}></script>
{% endblock %}

{% block content %}
<form id="theForm" method="POST" autocomplete="off">
    {% csrf_token %}
    <p> <input type="text" name="tournament" id="txtTournament" placeholder="Tournament Name" autofocus>
        <select name="game" id="comGame">
            <option value="Chess">Chess</option>
            <option value="Backgammon">Backgammon</option>
            <option value="Volleyball">Volleyball</option>
            <option value="Table Tennis">Table Tennis</option>
        </select>
    </p>
    <p> <input type="text" name="" id="txtName" placeholder="Player's Name" required>
        <button type="submit" onclick="return add_player(txtName.value)">Add Player</button>
        <br><label for="txtName" id="lblError" class="error"></label>
    </p>
    <input type="hidden" name="players_list" id="list1">
</form>
<br>
Players List:
<ol id="olPlayers"></ol>
{% endblock %}