<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> {% block title %} Swiss System Tournament Manager {% endblock %} </title>
    <link rel=icon href="{% static 'favicon.ico' %}">
    <link rel=stylesheet href="{% static 'style.css' %}" type=text/css>
    {% block style&scripts %} {% endblock %}
</head>

<body onload="load()">
    {% block content %} {% endblock %}
    <br>
    <footer>
        <hr>
        <button id="btnPrevious" onclick="previous()"> Previous </button>
        <button id="btnReload" onclick="reload()"> Reload </button>
        <button id="btnSave" onclick="save()"> Save </button>
        <button id="btnNext" onclick="next()"> Next </button>
        <p id="pWarning" style="font-weight: bold; color: firebrick;" hidden>
            Warning: You have unsaved changes. Are you sure you want to discard them and
            continue?
            <button id="btnConfirmYes">Yes</button>
            <button id="btnConfirmNo" onclick="pWarning.hidden=true;">No</button>
        </p>
    </footer>
</body>

</html>