{% load static %}
<!DOCTYPE html>

<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> {% block title %} Swiss System Tournament Manager {% endblock %} </title>
    <link rel=icon href="{% static 'logo.ico' %}">
    <link rel=stylesheet href="{% static 'style.css' %}" type=text/css>
    {% block style %} {% endblock %}
    {% block scripts %} {% endblock %}
</head>

<body onload="load()">
    {% block content %} {% endblock %}
    <footer>
        <input type="button" id="btnBack" value="Back" onclick="back()" disabled>
        <input type="button" id="btnNext" value="Next" onclick="next()" disabled>
    </footer>
</body>