<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> {% block title %} Swiss System Tournament Manager {% endblock %} </title>
    <link rel=icon href="{% static 'favicon.ico' %}">
    <link rel=stylesheet href="{% static 'style.css' %}" type=text/css>
    {% block style %} {% endblock %}
    {% block scripts %} {% endblock %}
</head>

<body>
    {% block content %} {% endblock %}
    <footer>
        <button id="btnBack" value="Back"> Back </button>
        <button id="btnNext" value="Next"> Next </button>
    </footer>
</body>

</html>