{% extends "template.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'tournament.js' %}"> </script>
<script>
    var tournamentId = "{{ tournamentId|escape }}";
    var tournamentName = "{{ tournamentName|escape }}";
    var sport = "{{ sport|escape }}";
    var number_of_rounds = "{{ number_of_rounds|escape }}"
    var players_list = "{{ players_list|escape }}";

    function remove_participant(e) {
        for (let player of selPlayers.options) {
            if (player.value == e.target.parentElement.id)
                player.style.display = "block";
        }
        e.target.parentElement.remove();
    }

    function add_participant() {
        const a_tag = `<a href="javascript:void 0" onclick="remove_participant(event)" class="remove" title="remove"> &#10006; </a>`;
        for (item of [...selPlayers.options].filter(x => x.selected)) {
            item.style.display = "none";
            olParticipants.innerHTML += `<li id=${item.value}> ${item.innerText} ${a_tag} </li>`;
        }
    }
</script>
{% endblock %}

{% block content %}
<form id="theForm" method="POST">
    {% csrf_token %}
    <label>Tournament Name:
        <input type="text" name="tournamentName" placeholder="Enter tournament name">
    </label>
    <input type="hidden" name="tournamentId">
    <select name="sport" style="text-align: center;">
        {% for sport in sports_list %}
        <option value="{{sport}}">{{sport}}</option>
        {% endfor %}
    </select> <br><br>
    <label>Number of Rounds:
        <input type="number" min=1 max=15 size=5 name="number_of_rounds">
    </label> <br><br>
    <div style="display:table;">
        <select name="" id="selPlayers" multiple=true size=10>
            {% for player in players_list %}
            <option value="{{player.id}}">{{player.firstname}} {{player.lastname}}</option>
            {% endfor %}
        </select>
        <div style="display:table-cell; vertical-align:top; padding:100px 20px">
            <input type="button" value="Add" onclick="add_participant()">
        </div>
        <div style="display:table-cell; vertical-align:top;">
            Participants:
            <ol id="olParticipants" style="margin:5px;"> </ol>
        </div>
    </div>
    <br><br>
    <label for="txtName" id="lblError" class="error" style="padding-left: 8em;"></label>
</form>
{% endblock %}